$color1: rgb(41, 41, 41);
$color2: #b74453;
$color3: #a85460;
$color4: #ca707e;
$color5: #efddbd;
$color6: #61bd63;
$color7: #e4e4e4;
$color8: #3e3f55;
$color10: #ab6ea9;
$color11: #8f668e;
$color12: #714a71;
$color13: #606e88;
