@import "./colors";
@import "./utilities";
@import "./shared";

#main-layout,
#min-layout {
  #header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    background-color: $color5;
    height: 152px;
    z-index: 5;

    @extend %transitioned;

    @media screen and (max-width: 991px) {
      height: 120px;
    }

    .page-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;
    }

    .back {
      font-size: 40px;
      font-weight: bold;
    }

    .logo {
      font-weight: bold;
      font-size: 75px;

      @media screen and (max-width: 991px) {
        font-size: 50px;
      }

      @media screen and (max-width: 767px) {
        font-size: 40px;
      }

      @media screen and (max-width: 575px) {
        font-size: 32px;
      }

      .name {
        font-style: oblique;
      }

      .green {
        color: #40a335;
        font-size: smaller;
      }
    }

    .nav {
      display: flex;
      align-items: center;
      gap: 20px;

      .toggler {
        margin-left: 2rem;

        @media screen and (max-width: 575px) {
          margin-left: 0;
        }
      }
    }
  }

  #main-body {
    padding-top: 152px;
    background-color: #eeecea;
    min-height: 100vh;

    @media screen and (max-width: 991px) {
      padding-top: 120px;
    }

    @extend %transitioned;
  }
}

// ****************************************************************************************************************************************
// ****************************************************************************************************************************************

// *************************************************************** BOXES ******************************************************************

// ****************************************************************************************************************************************
// ****************************************************************************************************************************************

#boxes {
  .box {
    display: block;
    border-radius: 14px;
    height: 100%;
    width: 100%;
    background-color: $color4;
    cursor: pointer;
    aspect-ratio: 1.75 / 1;

    @extend %transitioned;

    &:hover {
      transform: scale(1.025);
    }

    &.box-1 {
      @media screen and (min-width: 768px) {
        aspect-ratio: 1 / 1;
      }
      @media screen and (max-width: 767px) {
        aspect-ratio: 1.125 / 1;
      }
    }

    &.box-2,
    &.box-3,
    &.box-4 {
      background-color: $color3;
    }
  }

  .second {
    height: calc(100% - 24px);

    & > * {
      height: 50%;
    }
  }
}

// ****************************************************************************************************************************************
// ****************************************************************************************************************************************

// *************************************************************** LEARN ******************************************************************

// ****************************************************************************************************************************************
// ****************************************************************************************************************************************

#learn {
  height: 100vh;

  &.crypto {
    background-color: #e394a1;
  }

  &.nft {
    background-color: #9ebff8;
  }

  .learn-main {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;

    p {
      margin-top: 4rem;
    }
  }
}

// ****************************************************************************************************************************************
// ****************************************************************************************************************************************

// *************************************************************** DARK MODE ***************************************************************

// ****************************************************************************************************************************************
// ****************************************************************************************************************************************

body.dark-mode {
  #main-layout {
    #header {
      background-color: $color8;

      * {
        color: #000;
      }
    }

    #main-body {
      background-color: $color13;
    }
  }

  #boxes {
    .box-1 {
      background-color: $color11;
    }

    .box-2,
    .box-3,
    .box-4 {
      background-color: $color12;
    }
  }
}
